:root {
  --main-bg-color: #465451;
  --main-txt-color: #61dafb;
  --main-error-color: #ffb3b3;
  --main-alert-success-color: green;
  --main-alert-success-bg-color: lightgreen;
  --main-alert-success-border-color: darkgreen;
  --main-alert-warning-color: yellow;
  --main-alert-warning-bg-color: lightgoldenrodyellow;
  --main-alert-warning-border-color: darkgoldenrod;
  --main-alert-error-color: red;
  --main-alert-error-bg-color: lightcoral;
  --main-alert-error-border-color: darkred;
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--main-txt-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.App-button {
  font-size: 1rem;
  color: var(--main-txt-color);
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid var(--main-txt-color);
  padding: 0.5rem;
  transition: color 0.5s, background-color 0.5s;
}

.App-button:hover,
.App-button:focus {
  color: var(--main-bg-color);
  background-color: var(--main-txt-color);
  border: 0.1rem solid var(--main-txt-color);
}

.App-button:disabled {
  color: var(--main-bg-color);
  background-color: transparent;
  border: 0.1rem solid var(--main-bg-color);
  cursor: default;
}

.App-input-text {
  border: none;
  border-bottom: 0.1rem dashed var(--main-bg-color);
  text-align: start;
  padding: 0 0.2rem 0.3rem 0.2rem;
  font-size: 1rem;
  margin: 0;
  color: var(--main-bg-color);
  background-color: white;
  transition: color 1s, border-bottom 1s;
}

.App-input-text:hover,
.App-input-text:focus {
  border: none;
  color: var(--main-bg-color);
  border-bottom: 0.1rem dashed var(--main-txt-color);
  background-color: white;
}

.App-input-text-error {
  border-bottom: 2px solid var(--main-error-color);
}

.App-form-field {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.App-Dropzone-Section {
  font-size: 3.5rem;
  color: white;
  background-color: transparent;
  vertical-align: middle;
  width: 5rem;
  height: 6rem;
  border-radius: 40%;
  border: 0.1rem dashed var(--main-txt-color);
  cursor: pointer;
}

.App-Dropzone-text {
  color: var(--main-bg-color);
  text-align: center;
}

.App-Dropzone-image {
  font-size: 3.5rem;
  margin: auto;
  color: white;
  background-color: var(--main-bg-color);
  vertical-align: middle;
  width: 5rem;
  height: 6rem;
  border-radius: 40%;
  border: 0.1rem solid var(--main-txt-color);
}

.App-Dropzone-show {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  justify-content: start;
}

.App-Dropzone-button {
  font-size: 1rem;
  color: var(--main-txt-color);
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid transparent;
  padding: 0.5rem;
  transition: color 0.5s;
}

.App-Dropzone-button:hover,
.App-Dropzone-button:focus {
  color: var(--main-bg-color);
}

.App-required {
  color: darkred;
}

.App-error {
  color: darkred !important;
  border: 0.1rem solid darkred;
}

.App-loading {
  width: 0%;
  height: 1rem;
  background-color: var(--main-txt-color);
  animation-timing-function: linear;
  animation: loading-animation 4s infinite;
}

@keyframes loading-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
