.App-contact-layout {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

.App-contacts-title {
  color: var(--main-txt-color);
  font-size: 1.5rem;
}

.App-contacts-group-title {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  grid-gap: 1rem;
}

.App-contact-groups {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.App-contact-options {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 15%;
  text-transform: uppercase;
}

.App-contact {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2rem;
  margin-top: 1rem;
}

.App-contact-card {
  border: 0.1rem solid var(--main-txt-color);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  cursor: default;
  display: grid;
  grid-template-rows: 85% 15%;
  color: var(--main-bg-color);
  background-color: white;
}

.App-contact-card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.App-contact-card-avatar {
  font-size: 3.5rem;
  margin: auto;
  color: var(--main-bg-color);
  background-color: white;
  vertical-align: middle;
  width: 5rem;
  height: 6rem;
  border-radius: 40%;
  border: 0.1rem solid var(--main-txt-color);
}

.App-contact-card-name {
  font-size: 1rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.App-contact-card-department {
  color: gray;
  margin: 0.5rem;
}

.App-contact-card-details {
  color: gray;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.App-contact-card-email {
  color: gray;
  font-style: italic;
  text-decoration: none;
  border-bottom: 0.1rem solid var(--main-txt-color);
}

.App-contact-card-buttons {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.1rem;
}

.App-contact-button {
  font-size: 1rem;
  color: var(--main-bg-color);
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid var(--main-bg-color);
  padding: 0.5rem;
  transition: color 0.5s, background-color 0.5s;
}

.App-contact-button:hover,
.App-contact-button:focus {
  color: var(--main-bg-color);
  background-color: var(--main-txt-color);
  border: 0.1rem solid var(--main-txt-color);
}

.App-contact-button:disabled {
  color: gray;
  background-color: darkgray;
}

.App-contact-new {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1rem;
  border: 0.1rem solid var(--main-txt-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.App-contact-new-field {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  grid-gap: 1rem;
}

.App-contact-new-field-list {
  margin-top: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  grid-gap: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--main-bg-color);
}

.App-contact-new-field-list-label {
  margin-top: -1.5rem;
  z-index: 0;
  background-color: white;
  padding-left: 1rem;
  width: 2rem;
}

.App-contact-new-field-list-row {
  display: grid;
  grid-template-columns: 45% 45% 5%;
  grid-gap: 1rem;
}

.App-contact-new-table-header {
  display: grid;
  grid-template-columns: 45% 45% 5%;
  grid-gap: 1rem;
  border-bottom: 0.1rem solid var(--main-bg-color);
  color: gray;
}

.App-contact-new-table-row {
  display: grid;
  grid-template-columns: 45% 45% 5%;
  grid-gap: 1rem;
}

.App-contact-new-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-gap: 1rem;
}

.App-contact-new-button {
  font-size: 1rem;
  color: var(--main-txt-color);
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid transparent;
  padding: 0.5rem;
  transition: color 0.5s;
}

.App-contact-new-button:hover,
.App-contact-new-button:focus {
  color: var(--main-bg-color);
}

.App-contact-new-label {
  vertical-align: middle;
}

.App-contact-view {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1rem;
  border: 0.1rem solid var(--main-txt-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.App-contact-view-field {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  grid-gap: 1rem;
}

.App-contact-view-field-list {
  margin-top: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  grid-gap: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--main-bg-color);
}

.App-contact-view-field-list-label {
  margin-top: -1.5rem;
  z-index: 0;
  background-color: white;
  padding-left: 1rem;
  width: 2rem;
}

.App-contact-view-field-list-row {
  display: grid;
  grid-template-columns: 45% 45% 5%;
  grid-gap: 1rem;
}

.App-contact-view-table-header {
  display: grid;
  grid-template-columns: 45% 45% 5%;
  grid-gap: 1rem;
  border-bottom: 0.1rem solid var(--main-bg-color);
  color: gray;
}

.App-contact-view-table-row {
  display: grid;
  grid-template-columns: 45% 45% 5%;
  grid-gap: 1rem;
}

.App-contact-view-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-gap: 1rem;
}

.App-contact-view-button {
  font-size: 1rem;
  color: var(--main-txt-color);
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid transparent;
  padding: 0.5rem;
  transition: color 0.5s;
}

.App-contact-view-button:hover,
.App-contact-view-button:focus {
  color: var(--main-bg-color);
}

.App-contact-view-label {
  vertical-align: middle;
}

.App-contact-view-avatar {
  font-size: 3.5rem;
  margin: auto;
  color: var(--main-bg-color);
  background-color: white;
  text-align: center;
  vertical-align: middle;
  width: 5rem;
  height: 6rem;
  border-radius: 40%;
  border: 0.1rem solid var(--main-txt-color);
}

.App-contact-group-delete {
  position: absolute;
}

.App-contact-group-delete-button {
  color: var(--main-error-color);
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid transparent;
  padding: 0.5rem;
  transition: color 0.5s;
}

.App-contact-group-delete-button :hover,
.App-contact-group-delete-button :focus {
  color: darkred;
}
